<p class="center bold">หนังสือมอบอํานาจ</p>
<p class=left>
  ที่ดิน<br>
  ระวาง<span class="line">&nbsp;</span>ตําบล<span class="line">&nbsp;</span><br>
  เลขที่<span class="line">&nbsp;</span>หนาสํารวจ<span class="line">&nbsp;</span>อําเภอ<span class="line">&nbsp;</span><br>
  โฉนดหมายเลขที่<span class="line">&nbsp;</span>จังหวัด<span class="line">&nbsp;</span><br>
  เรื่อง<span class="line">โอนชำระหนี้</span>
</p>
<p class=right>
  เขียนที่ <span class="line">บ้านเลขที่ %AUTHORITYADDRESS% จังหวัด %AUTHORITYPROVINCE%</span><br>
  วันที่ <span class="line">&nbsp;</span>
</p>
<p class=left>
  โดยหนังสือฉบับนี้ ข้าพเจา<span class="line">%CUSTOMER%</span>
  อยู่บ้านเลขที่<span class="line">%ADDRESS%</span>
  จังหวัด<span class="line">%PROVINCE%</span>
  โทรศัพท์<span class="line">%PHONE%</span>
  เลขประจําตัวประชาชน<span class="line">%IDCARD%</span>
  เชื้อชาติ<span class="line">ไทย</span>
  สัญชาติ<span class="line">ไทย</span><br>
  <b>ไดมอบให้</b><span class="line">%AUTHORITY%</span>
  อยู่บ้านเลขที่<span class="line">%AUTHORITYADDRESS%</span>
  จังหวัด<span class="line">%AUTHORITYPROVINCE%</span>
  เลขประจําตัวประชาชน<span class="line">%AUTHORITYIDCARD%</span>
  เชื้อชาติ<span class="line">ไทย</span>
  สัญชาติ<span class="line">ไทย</span><br>
  <b>เป็นผูมีอํานาจจัดการ</b> จดทะเบียนโอนที่ดินแปลงเครื่องหมายข้างบนนี้ พร้อมทั้งสิ่งปลูกสร้างทั้งหมดภายในที่ดินนี้ ให้เป็นของ%AUTHORITY% เพื่อชำระหนี้จำนอง ตลอดจนให้ถ้อยคำต่างๆ ต่อพนักงานเจ้าหน้าที่ แทนขาพเจาจนเสร็จการ
</p>
<p class=right>
  เพื่อเป็นหลักฐานขาพเจาได ลงลายมือชื่อ  ไวเป็นสําคัญตอหนาพยานแลว<br>
  <span class="line1">&nbsp;</span>ผูมอบอํานาจ<br>
  ขาพเจาขอรับรองวาเป็นลายมือชื่ออันแทจริงของผูมอบอํานาจ และผูมอบอํานาจได ลงลายมือชื่อตอหนาขาพเจา<br>
  <span class="line1">&nbsp;</span>พยาน<br>
  <span class="line1">&nbsp;</span>พยาน<br>
</p>