
<h1>หนังสือสัญญาซื้อขาย</h1>
<p class="left">
  สัญญานี้ทำขึ้นที่ <span class="line">บ้านเลขที่ %AUTHORITYADDRESS% จังหวัด %AUTHORITYPROVINCE%</span>
  เมื่อวันที่<span class="line">%CREATEDATE%</span>
  ระหว่าง<span class="line">%CUSTOMER%</span>
  อยู่บ้านเลขที่<span class="line">%ADDRESS%</span>
  จังหวัด<span class="line">%PROVINCE%</span>
  โทรศัพท์<span class="line">%PHONE%</span>
  ซึ่งต่อไปนี้จะเรียกว่า <b>"ผู้ขาย"</b> ฝ่ายหนึ่ง
  กับ<span class="line">%AUTHORITY%</span>
  อยู่บ้านเลขที่<span class="line">%AUTHORITYADDRESS%</span>
  จังหวัด<span class="line">%AUTHORITYPROVINCE%</span>
  โทรศัพท์<span class="line">%AUTHORITYPHONE%</span>
  ซึ่งต่อไปจะเรียกว่า <b>"ผู้ซื้อ"</b> อีกฝ่ายหนี่ง ทั้งสองฝ่ายตกลงทำสัญญากันดังต่อไปนี้
</p>
<p class=left>
  ข้อ 1. ผู้ซื้อตกลงซื้อ และผู้ขายตกลงขาย <span class="line6">%PROPERTY%</span>
  เป็นจำนวนเงิน<span class="line">%AMOUNT%</span>บาท (<span class="line">%THAIBAHT%</span>)
  โดยผู้ขายได้รับเงินไว้ครบถ้วนถูกต้องแล้วนับแต่วันทำสัญญาฉบับนี้ และได้โอนทรัพย์สินข้างต้น ให้เป็นกรรมสิทธิ์ของผู้ซื้อเป็นที่เรียบร้อยแล้ว นับแต่วันทำสัญญาฉบับนี้
</p>
<p class=left>
  ข้อ 2. ผุ้ซื้อยินยอมให้ผู้ขายสามารถซื้อคืนทรัพย์สินดังกล่าวได้ ภายในวันที่ <span class="line">%ENDDATE%</span> ตามราคาที่ได้ตกลงขาย
  หากครบกำหนดวันที่ซื้อคืนตามสัญญานี้แล้ว ผู้ขายไม่สามารถซื้อทรัพย์สินดังกล่าวคืนได้ ผู้ขายยินยอมออกจากทรัพย์สินตามสัญญาในทันที
  และทำการโอน และส่งมอบทรัพย์สินทั้งหมดตามสัญญาให้เป็นของผู้ซื้อโดยสมบูรณ์
</p>
<p class=left>
  ข้อ 3. ห้ามมิให้มีการเปลี่ยนแปลง โยกย้าย ขาย หรือ เปลี่ยนมือ ทรัพย์สินทั้งหมดตามสัญญาไปจากเดิม เว้นแต่จะได้รับความยินยอมจากผู้ซื้อ เป็นลายลักษณ์อักษร
  การดำเนินการเปลี่ยนแปลงใดๆ ในทรัพย์สินข้างต้น ถือเป็นสิทธิ์โดยชอบของผู้ซื้อแต่เพียงผู้เดียวเท่านั้น
</p>
<p class=left>
  ข้อ 4. ผู้ขายจะต้องรักษาทรัพย์สินทั้งหมดอยู่ให้อยู่ในสภาพสมบูรณ์ สามารถเข้าใช้ทำประโยชน์ได้ และพร้อมส่งมอบให้กับผู้ซื้อได้ตลอดอายุสัญญา
</p>
<p class=left>
  ข้อ 5. บรรดาหนังสือบอกกล่าว ทวงถาม หรือหนังสืออื่นใดที่จะส่งให้แก่ผู้ขายนั้นไม่ว่าจะส่งทางไปรษณีย์ลงทะเบียนหรือไม่ลงทะเบียน  หรือให้คนนำไปส่งเองก็ดี รวมถึงการติดต่อผ่านโทรศัพท์ ข้อความ SMS
  ถ้าหากได้ส่งไปยังตำบลสถานที่ หรือตามหมายเลขโทรศัพท์ ที่ระบุไว้ข้างต้นของสัญญานี้แล้ว ให้ถือว่าเป็นการส่งโดยชอบและอีกฝ่ายได้รับทราบแล้วนับแต่วันที่คำบอกกล่าว หรือเอกสาร หรือข้อความนั้น พึงไปถึงตามปกติ
</p>
<p class=left>
  สัญญานี้ทำขึ้นเป็นสองฉบับ และมีข้อความถูกต้องตรงกัน คู่สัญญาทั้งสองฝ่ายได้อ่านและเข้าใจข้อความโดยตลอดดีแล้ว
  เห็นว่าถูกต้องตรงตามเจตนาของตนจึงได้ลงลายมือชื่อไว้เป็นหลักฐาน  และต่างเก็บสัญญาไว้ฝ่ายละฉบับ
</p>
<table>
  <tr>
    <td class="center" style="width:50%">ลงชื่อ<span class="line2">&nbsp;</span>ผู้ซื้อ</td>
    <td class="center">ลงชื่อ<span class="line2">&nbsp;</span>ผู้ขาย</td>
  </tr>
  <tr>
    <td class="center">(<span class="line2">%AUTHORITY%</span>)</td>
    <td class="center">(<span class="line2">%CUSTOMER%</span>)</td>
  </tr>
  <tr>
    <td class="center">ลงชื่อ<span class="line2">&nbsp;</span>พยาน</td>
    <td class="center">ลงชื่อ<span class="line2">&nbsp;</span>พยาน</td>
  </tr>
  <tr>
    <td class="center">(<span class="line2">&nbsp;</span>)</td>
    <td class="center">(<span class="line2">&nbsp;</span>)</td>
  </tr>
</table>