<h1>หนังสือสัญญากู้ยืมเงิน</h1>
<p class="left">
  สัญญานี้ทำขึ้นที่ <span class="line">บ้านเลขที่ %AUTHORITYADDRESS% จังหวัด %AUTHORITYPROVINCE%</span>
  เมื่อวันที่ <span class="line">%CREATEDATE%</span>
  ระหว่าง <span class="line">%CUSTOMER%</span>
  อยู่บ้านเลขที่ <span class="line">%ADDRESS%</span>
  จังหวัด <span class="line">%PROVINCE%</span>
  โทรศัพท์ <span class="line">%PHONE%</span>
  ซึ่งต่อไปนี้จะเรียกว่า <b>"ผู้กู้"</b> ฝ่ายหนึ่ง
  กับ <span class="line">%AUTHORITY%</span>
  อยู่บ้านเลขที่ <span class="line">%AUTHORITYADDRESS%</span>
  จังหวัด <span class="line">%AUTHORITYPROVINCE%</span>
  โทรศัพท์ <span class="line">%AUTHORITYPHONE%</span>
  ซึ่งต่อไปจะเรียกว่า <b>"ผู้ให้กู้"</b> อีกฝ่ายหนี่ง ทั้งสองฝ่ายตกลงทำสัญญากันดังต่อไปนี้
</p>
<p class=left>
  ข้อ 1. ผู้ให้กู้ตกลงให้กู้ และผู้กู้ตกลงกู้ยืมเงิน จำนวนเงิน <span class="line">%AMOUNT%</span> บาท (<span class="line">%THAIBAHT%</span>)
  โดยผู้กู้ได้รับเงินไว้ครบถ้วนถูกต้องแล้ว
</p>
<p class=left>
  ข้อ 2. ผู้กู้ตกลงผ่อนชำระหนี้เงินกู้ทุกวันที่ <span class="line">%D%</span> ของเดือน
  นับแต่วันทำสัญญาฉบับนี้ จนกว่าจะชำระหนี้เสร็จสิ้น ทั้งนี้ต้องชำระหนี้ทั้งหมดจนครบภายใน
  วันที่ <span class="line">%ENDDATE%</span>
</p>
<p class=left>
  ข้อ 3. ผู้กู้ตกลงจัดให้มีหลักประกันการชำระหนี้โดยการโอน <span class="line6">%PROPERTY%</span>
  ด้วยค่าธรรมเนียมและค่าใช้จ่ายของฝ่าย ผุ้กู้ และมอบให้กับผู้ให้กู้ยึดถือไว้ ซึ่งผู้กู้ขอรับรองว่าทรัพย์สินที่นำมาวางเป็นประกัน
  เป็นกรรมสิทธิ์โดยชอบด้วยกฎหมายแต่เพียงผู้เดียวของผู้กู้และเป็นทรัพย์สินที่ปราศจากภาระติดพันใด ๆ
</p>
<p class=left>
  ข้อ 4. ผู้กู้จะต้องรักษาทรัพย์สินต่างๆที่ค้ำประกันเงินกู้อยู่ให้อยู่ในสภาพสมบูรณ์ สามารถเข้าใช้ทำประโยชน์ได้ และพร้อมส่งมอบให้กับผู้ให้กู้ได้ตลอดอายุสัญญา
</p>
<p class=left>
  ข้อ 5. กรณีผู้กู้ไม่ได้ผ่อนชำระเงินกู้ตามที่กำหนด หรือผิดนัดสัญญาข้อหนึ่งข้อใดก็ดี ผู้กู้ตกลงให้ผู้ให้กู้ใช้สิทธิบอกเลิกสัญญา เรียกให้ชำระหนี้
  และบังคับหลักประกันได้ทั้งหมดทันที โดยผู้กู้ยินยอมส่งมอบทรัพย์สินที่ค้ำประกันเงินกู้ รวมถึง สิ่งก่อสร้างอื่นๆในที่ดินนั้นๆให้กับผู้ให้กู้ และย้ายออกจากทรัพย์สินต่างๆในทันที
  และยินยอมชดใช้ค่าเสียหายทั้งหลายในบรรดาที่ผู้ให้กู้จะพึงได้รับอันเนื่องจากการผิดนัดของผู้กู้ รวมทั้งค่าใช้จ่ายในการเตือน เรียกร้อง ทวงถาม ดำเนินคดี และบังคับชำระหนี้จนเต็มจำนวนทุกประการ
</p>
<p class=left>
  ข้อ 6. บรรดาหนังสือบอกกล่าว ทวงถาม หรือหนังสืออื่นใดที่จะส่งให้แก่ผู้กู้นั้นไม่ว่าจะส่งทางไปรษณีย์ลงทะเบียนหรือไม่ลงทะเบียน  หรือให้คนนำไปส่งเองก็ดี รวมถึงการติดต่อผ่านโทรศัพท์ ข้อความ SMS
  ถ้าหากได้ส่งไปยังตำบลสถานที่ หรือตามหมายเลขโทรศัพท์ ที่ระบุไว้ข้างต้นของสัญญานี้แล้ว ให้ถือว่าเป็นการส่งโดยชอบและอีกฝ่ายได้รับทราบแล้วนับแต่วันที่คำบอกกล่าว หรือเอกสาร หรือข้อความนั้น พึงไปถึงตามปกติ
</p>
<p class=left>
  สัญญานี้ทำขึ้นเป็นสองฉบับ และมีข้อความถูกต้องตรงกัน คู่สัญญาทั้งสองฝ่ายได้อ่านและเข้าใจข้อความโดยตลอดดีแล้ว
  เห็นว่าถูกต้องตรงตามเจตนาของตนจึงได้ลงลายมือชื่อไว้เป็นหลักฐาน  และต่างเก็บสัญญาไว้ฝ่ายละฉบับ
</p>
<table>
  <tr>
    <td class="center" style="width:50%">ลงชื่อ <span class="line2">&nbsp;</span> ผู้ให้กู้</td>
    <td class="center">ลงชื่อ <span class="line2">&nbsp;</span> ผู้กู้</td>
  </tr>
  <tr>
    <td class="center">(<span class="line2">%AUTHORITY%</span>)</td>
    <td class="center">(<span class="line2">%CUSTOMER%</span>)</td>
  </tr>
  <tr>
    <td class="center">ลงชื่อ <span class="line2">&nbsp;</span> พยาน</td>
    <td class="center">ลงชื่อ <span class="line2">&nbsp;</span> พยาน</td>
  </tr>
  <tr>
    <td class="center">(<span class="line2">&nbsp;</span>)</td>
    <td class="center">(<span class="line2">&nbsp;</span>)</td>
  </tr>
</table>