<style>
  div.body {
    display: table;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #999;
    text-align: left;
  }
</style>
<div class=body>
  <p>ข้าพเจ้า <span class="line">%AUTHORITY%</span> ผู้รับจำนอง ได้รับชำระหนี้จำนอง จากผู้จำนองถูกต้องครบถ้วนเรียบร้อยแล้ว ตั้งแต่วันที่ <span class="line">%CREATEDATE%</span></p>
  <p>ยินยอมให้ไถ่ถอนจากจำนองได้</p>
  <div style="float:right;width:50%">
    <p class="center">ลงชื่อ<span class="line2">&nbsp;</span>ผู้รับจำนอง</p>
    <p class="center">(<span class="line">%AUTHORITY%</span>)</p>
  </div>
</div>